.carousel {
  width: 100%;
  height: 425px;
  position: relative;
  margin: 20px 0 ;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:first-child {
      transform: translateY(-50%) rotate(180deg);
      left: 20px;
    }

    &:nth-child(2) {
      right: 20px;
    }

  }
}