.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  margin: 20px 0;

  .description-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      font-size: $size1;
    }

    p {
      font-size: $size3;
    }
  }

  .host {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 40%;
    div{
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      p{
        line-height: 26px;
        text-align: right;
        margin: 0 5px;
      }
    }
  }

  img {
    border-radius: 180px;
    object-fit: cover;
    height: 40%;
  }
}