.description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 10px;
  @media (max-width: 768px){
    flex-direction: column;
    align-items: flex-start;
  }

  .tag-rate-container{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .description-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      font-size: $size1;
    }

    p {
      margin-top: 5px;
      font-size: $size3;
    }
  }

  .host {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100%;
    width: 40%;
    .rate{
      margin-top: 20px;
    }
    div{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    @media (max-width: 768px){
      width: 100%;
      justify-content: flex-start;
    }
      p{
        width: 80px;
        line-height: 26px;
        text-align: right;
        margin: 0 5px;
        font-size: $size3;
      }

  }

  img {
    border-radius: 180px;
    object-fit: cover;
  }
}