.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  height: 200px;
  min-height: 200px;
  margin: auto 0 0 0;
  @media (max-width: 768px){

  }
  img{
    width: 125px;
    margin: 15px 0;
  }
  p{
    font-size: $size2;
    color: $color3;
    margin: 15px 0;
    @media (max-width: 768px){
      font-size: $size4;
    }
  }
}