nav{
  width: 60%;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    list-style: none;
    font-size: $size2;
    font-weight: 500;
    @media (max-width: 768px){
      font-size: $size4;
    }
  }
}
