.error{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 80vh;

    h2{
      font-size: 280px;
      font-weight: 700;

      @media (max-width: 768px){
        font-size: 96px;
      }
    }
  p{
    font-size: 36px;
    text-align: center;
    margin-top:40px;
    @media (max-width: 768px){
      font-size: $size3;
      width: 100%;
      margin-top: 0;
    }
  }
  .back-home{
    font-size: $size3;
    @media (max-width: 768px){
      font-size: $size4;
    }
  }
}