@font-face {
  font-family: "Montsera";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montsera", sans-serif;
  font-size: 1.3rem;
  line-height: 34px;
  color: #FF6060;
  max-width: 2500px;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FF6060;
}

.header {
  height: 150px;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header {
    height: 80px;
    min-height: 80px;
  }
}
.header img {
  width: 200px;
}
@media (max-width: 768px) {
  .header img {
    width: 150px;
  }
}

nav {
  width: 60%;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  list-style: none;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 768px) {
  nav ul {
    font-size: 14px;
  }
}
nav .nav-active {
  position: relative;
}
nav .nav-active::after {
  content: "";
  height: 2px;
  width: 0;
  border-radius: 10px;
  background: #FF6060;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}
@keyframes anim {
  to {
    width: 100%;
  }
}

.banner {
  width: 100%;
  border-radius: 25px;
  height: 300px;
  margin: 20px 0;
  position: relative;
}
@media (max-width: 768px) {
  .banner {
    height: 150px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(80%);
}
.banner p {
  width: 100%;
  font-size: 48px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
@media (max-width: 768px) {
  .banner p {
    font-size: 24px;
    text-align: left;
    width: 65%;
    left: 40%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
  margin: 20px 0;
  width: 95%;
}
.menu .menu-header {
  z-index: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  background: #FF6060;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
}
@media (max-width: 768px) {
  .menu .menu-header {
    font-size: 13px;
    height: 10px;
  }
}
.menu .menu-header button {
  color: white;
  background: #FF6060;
  border: none;
}
.menu .dropdown-menu {
  background: #F6F6F6;
  border-radius: 10px;
  text-align: left;
  padding: 30px 20px;
  margin-top: -15px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
@media (max-width: 768px) {
  .menu .dropdown-menu {
    font-size: 12px;
  }
}
.menu .dropdown-menu p {
  font-weight: 400;
}
@media (max-width: 768px) {
  .menu .dropdown-menu p {
    font-size: 12px;
  }
}

.carousel {
  width: 100%;
  height: 600px;
  position: relative;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }
}
.carousel img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.carousel button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel button:first-child {
  transform: translateY(-50%) rotate(180deg);
  left: 20px;
}
.carousel button:nth-child(2) {
  right: 20px;
}

.description {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .description {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
}
.description .tag-rate-container {
  display: flex;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
.description .description-header {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.description .description-header h2 {
  font-size: 36px;
}
@media (max-width: 768px) {
  .description .description-header h2 {
    font-size: 18px;
  }
}
.description .description-header p {
  margin-top: 5px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .description .description-header p {
    font-size: 14px;
    margin-top: 0;
  }
}
.description .host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 40%;
}
.description .host .rate {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .description .host .rate {
    margin-top: 0;
  }
}
.description .host div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 768px) {
  .description .host div img {
    height: 20px;
  }
}
@media (max-width: 768px) {
  .description .host {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
}
.description .host p {
  width: 80px;
  line-height: 26px;
  text-align: right;
  margin: 0 5px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .description .host p {
    font-size: 12px;
  }
}
.description img {
  border-radius: 180px;
  object-fit: cover;
}

.tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.tags .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20px;
  padding: 2px 20px;
  margin-top: 5px;
  background: #FF6060;
  margin-right: 15px;
  border-radius: 10px;
}
.tags .tag p {
  margin: 0;
  text-align: center;
  color: #F6F6F6;
  font-size: 14px;
}
@media (max-width: 768px) {
  .tags .tag p {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .tags {
    margin-top: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  height: 200px;
  min-height: 200px;
  margin: auto 0 0 0;
}
.footer img {
  width: 125px;
  margin: 15px 0;
}
.footer p {
  font-size: 24px;
  color: white;
  margin: 15px 0;
}
@media (max-width: 768px) {
  .footer p {
    font-size: 14px;
  }
}

.card-container {
  background: #F6F6F6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 25px;
  margin: 50px 0;
}
.card-container .card {
  width: 40vh;
  min-width: 300px;
  height: 40vh;
  min-height: 250px;
  border-radius: 10px;
  margin: 20px 20px;
  position: relative;
}
.card-container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card-container .card p {
  display: block;
  color: white;
  width: 70%;
  font-size: 18px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.container .container-menu {
  width: 50%;
}
@media (max-width: 768px) {
  .container .container-menu {
    width: 100%;
  }
}
.container .equipment {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .container .equipment {
    display: block;
  }
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.error h2 {
  font-size: 280px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .error h2 {
    font-size: 96px;
  }
}
.error p {
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .error p {
    font-size: 18px;
    width: 100%;
    margin-top: 0;
  }
}
.error .back-home {
  font-size: 18px;
}
@media (max-width: 768px) {
  .error .back-home {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
